@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .text-neon {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-emerald-500 to-emerald-700 dark:to-emerald-300;
  }

  .text-neon-wb {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-neutral-950 to-neutral-500 dark:from-white dark:to-neutral-700;
  }
}

@layer utilities {
  .word-break-word {
    word-break: break-word;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .bg-dots {
    @apply bg-white bg-repeat dark:bg-neutral-950/80 bg-[radial-gradient(#8080802e_1px,transparent_1px)] [background-size:16px_16px];
  }

  .bg-grid {
    @apply bg-left-top bg-repeat bg-white dark:bg-neutral-950/80 bg-[linear-gradient(to_right,#8080802e_1px,transparent_1px),linear-gradient(to_bottom,#8080802e_1px,transparent_1px)];
  }

  .bg-radial-grid {
    @apply w-full h-full bg-transparent bg-[linear-gradient(rgba(255,255,255,0.3)_2px,transparent_2px),linear-gradient(90deg,rgba(255,255,255,0.3)_2px,transparent_2px),linear-gradient(rgba(255,255,255,0.3)_1px,transparent_1px),linear-gradient(90deg,rgba(255,255,255,0.3)_1px,rgba(0,0,0,0)_1px)] bg-[150px_150px,150px_150px,30px_30px,30px_30px] rounded-none before:bg-[radial-gradient(50%_50%_at_50%_50%,rgba(84,84,84,0)_0%,rgb(0,0,0)_100%)] before:flex-none before:h-full before:overflow-hidden before:absolute before:w-full before:left-0 before:top-0;
  }

  .bg-radial-card {
    @apply z-[3] content-[''] absolute w-full h-full pointer-events-none shadow-[0_-20px_64px_-24px_#e2e8ff1f_inset] bg-[radial-gradient(120.05%_100%_at_50%_0%,rgba(122,235,255,0)_60%,rgba(122,235,255,0.08)_100%)] rounded-[inherit] left-0 top-0;
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply -ml-[50px] -mt-1;
    content: counter(step);
  }
}
